extends template

block links
    link(rel='stylesheet', href='/stylesheets/home.css')
block body
    div#home(ng-controller='homeCtrl')
        menu
        div#body
            ng-view
        div.clear
block scripts