extends template

block links
    link(rel='stylesheet', href='/stylesheets/home.css')
block body
    div#home(ng-controller='homeCtrl')
        menu
        div#intro-pic
            img(src='/images/introPic.jpg')
            a.btn.get-started(ng-if='displayMode == "visitor"',ng-click='jump2Other("/login")') Get Started
        div#posts-display
            div#posts-latest
                div.header
                    img(src='/images/latestPic.jpg')
                    span.tip Latest
                ul.list
                    li.item(ng-repeat='post in latestPosts')
                        div.item-inner
                            a.title(ng-bind='post.title')
                            span.create-time(ng-bind='post.createTime')
            div#posts-trending
                div.header
                    img(src='/images/trendingPic.jpg')
                    span.tip Trending
                div.tab-nav
                    a.tab-btn(ng-class='{active:trendingTab == "Weekly"}',ng-click='trendingTab = "Weekly"') Weekly
                    a.tab-btn(ng-class='{active:trendingTab == "Monthly"}',ng-click='trendingTab = "Monthly"') Monthly
                ul.list.custom-ul
                    li.item(ng-repeat='post in trendingPosts')
                        a.title(ng-bind='post.title')
            div#posts-featured
                div.header
                    img(src='/images/featuredPic.jpg')
                    span.tip Featured
                ul.list
                    li.item(ng-repeat='post in featuredPosts')
                        div.top
                            span.avatar
                                img(src='{{post.avatar}}')
                            span.username(ng-bind='post.username')
                            span.create-time(ng-bind='post.createTime')
                        div.middle
                            a.title(ng-bind='post.title')
                        div.bottom
                            span.abstract(ng-bind='post.abstract')
            div.clear
block scripts