extends template

block links
    link(rel='stylesheet', href='/stylesheets/home.css')
block body
    div#home(ng-controller='homeCtrl')
        menu
        div#intro-pic
            img(src='/images/introPic.jpg')
        div#posts-display
            div#posts-latest
                div.header
                    img(src='/images/latestPic.jpg')
                    span.tip Latest
                ul.list
                    li.item(ng-repeat='post in latestPosts')
                        a(ng-bind='post.title',href='post.url')
                        span.create-time(ng-bind='post.createTime')
            div#posts-trending
                div.header
                    img(src='/images/trendingPic.jpg')
                    span.tip Trending
                ul.list
            div#posts-featured
                div.header
                    img(src='/images/featuredPic.jpg')
                    span.tip Featured
                ul.list
            div.clear
block scripts