extends template

block links
    link(rel='stylesheet', href='/stylesheets/home.css')
block body
    div#home(ng-controller='homeCtrl')
        menu
        div#introPic
            img(src='/images/introPic.jpg')
block scripts