extends ../template

block links
    link(rel='stylesheet',href='/stylesheets/login.css')
block body
    div#login(ng-controller='loginCtrl')
        div#login-form
            div#logo
                img(src='/images/logo.png')
            div#title
                span Must Be Successful
            div#userName.form-group
                span.icon
                    img(src='/images/account.png')
                input.form-control(type='text' placeholder='username' ng-model='userName')
            div#password.form-group
                span.icon
                    img(src='/images/lock.png')
                input.form-control(type='password' placeholder='password' ng-model='password')
            div.btns
                a.remember-btn Remember me
                a.forget-btn Forgot password?
            a.login-btn(ng-click='signin()') Login
            a.register-btn(ng-click='signup()') Need an account?&nbsp;
                span.register-btn Sign up now!
block scripts
