#directive-blog-header {
    height: 80px;
    color: #333333;
    user-select: none;
    -webkit-user-select: none;
    border-bottom: 1px solid #eeeeee;
}

#directive-blog-header span.title {
    display: block;
    float: left;
    height: 80px;
    line-height: 80px;
    font-size: 28px;
}

#directive-blog-header ul.nav {
    float: right;
}

#directive-blog-header ul.nav > li.item {
    display: block;
    float: left;
    height: 80px;
    line-height: 80px;
    width: 80px;
    text-align: center;
    cursor: pointer;
    font-size: 13px;
}

#directive-blog-header ul.nav > li.item > span {
    display: inline-block;
    margin-right: 5px;
}

#directive-blog-header ul.nav > li.item > span:hover {
    color: #de3627;
}

#directive-blog-header ul.sub-nav {
    box-shadow: 0 4px 4px rgba(0, 0, 0, 0.2);
    width: 100px;
    background-color: #ffffff;
    position: relative;
    z-index: 1;
}

#directive-blog-header ul.sub-nav > li.item {
    height: 50px;
    line-height: 50px;
    width: 100%;
    box-sizing: border-box;
    text-align: left;
    text-align: center;
}

#directive-blog-header ul.sub-nav > li.item:hover {
    background-color: #333333;
    color: #ffffff;
}

#blogs-list div.widget {
    margin-bottom: 50px;
}

#blogs-list div.widget > h4 {
    font-size: 24px;
    margin-top: 10px;
    margin-bottom: 10px;
}

#blogs-list div.tags li.item {
    padding: 8px 0px;
    border-top: 1px dotted rgba(0, 0, 0, 0.2);
    cursor: pointer;
}

#blogs-list div.tags li.item:first-child {
    border-top: none;
}

#blogs-list div.tags li.item:before {
    display: inline-block;
    margin-right: 5px;
    margin-left: 5px;
    content: "\F105";
    vertical-align: -6%;
    font-size: 16px;
    font-family: Fontawesome;
    line-height: 1;
    color: #333;
    opacity: .3;
}

@media screen and (min-width: 1200px) {
    #directive-blog-header {
        width: 1170px;
        box-sizing: border-box;
        padding: 0px 15px;
        margin: 0 auto;
    }

    #blogs-list {
        width: 1170px;
        box-sizing: border-box;
        padding: 0px 15px;
        margin: 0 auto;
    }

    #blogs-add {
        width: 1170px;
        box-sizing: border-box;
        padding: 0px 15px;
        margin: 0 auto;
    }

    #blogs-display {
        width: 1170px;
        box-sizing: border-box;
        padding: 0px 15px;
        margin: 0 auto;
    }

    #blogs-edit {
        width: 1170px;
        box-sizing: border-box;
        padding: 0px 15px;
        margin: 0 auto;
    }
}

#blogs-list {
    margin-top: 50px;
}

#blogs-list article.post {
    margin-bottom: 50px;
}

#blogs-list h3.post-title {
    font-size: 28px;
    margin-bottom: 10px;
    margin-top: 4px;
    color: #333333;
    cursor: pointer;
    float: left;
}

#blogs-list h3.post-title:hover {
    color: #de3627;
}

#blogs-list div.post-attr {
    min-height: 60px;
    overflow: hidden;
}

#blogs-list span.create-time {
    display: block;
    font-style: oblique;
    font-size: 12px;
    color: #666666;
}

#blogs-list span.author {
    display: block;
    font-size: 14px;
    font-style: oblique;
    margin-bottom: 5px;
    margin-right: 5px;
    float: left;
    line-height: 20px;
}

#blogs-list span.tags {
    display: block;
    font-style: oblique;
    font-size: 12px;
    color: #666666;
}

#blogs-list span.private {
    display: block;
    font-style: oblique;
    font-size: 12px;
    color: #666666;
    float: left;
    line-height: 20px;
}

#blogs-list a.more-btn {
    color: #333333;
    font-style: oblique;
    font-size: 13px;
    cursor: pointer;
    transition: color .5s ease-in-out;
    -moz-transition: color .5s ease-in-out;
    -webkit-transition: color .5s ease-in-out;
}

#blogs-list a.more-btn:hover {
    color: #de3627;
}

#blogs-add {
    margin-top: 50px;
    margin-bottom: 30px;
    color: #333333;
    position: relative;
}

#blogs-add input.title {
    height: 40px;
    line-height: 40px;
    display: block;
    width: 100%;
    border: none;
    outline: none;
    margin-bottom: 10px;
    background-color: #eeeeee;
    color: #333333;
    font-size: 16px;
    padding-left: 15px;
    padding-right: 15px;
    border-radius: 4px;
}

#blogs-add textarea.abstract {
    display: block;
    width: 100%;
    border: none;
    outline: none;
    margin-bottom: 10px;
    background-color: #eeeeee;
    color: #333333;
    font-size: 16px;
    padding: 15px;
    border-radius: 4px;
}

#blogs-add select.privacy {
    display: block;
    width: 150px;
    height: 30px;
    line-height: 30px;
    background-color: #ffffff;
    margin-bottom: 10px;
    outline: none;
    font-size: 14px;
    background-image: none;
    border: 1px solid #cccccc;
    border-radius: 4px;
    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
    -webkit-transition: border-color ease-in-out .15s, -webkit-box-shadow ease-in-out .15s;
    -o-transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
    transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
}

#blogs-add input.tag-key {
    height: 30px;
    line-height: 30px;
    display: block;
    width: 150px;
    border: none;
    outline: none;
    margin-bottom: 10px;
    background-color: #eeeeee;
    color: #333333;
    font-size: 14px;
    padding-left: 15px;
    padding-right: 15px;
    border-radius: 4px;
}

#blogs-add div.tags {
    overflow: hidden;
}

#blogs-add span.tag {
    display: block;
    float: left;
    font-size: 12px;
    margin-bottom: 10px;
    margin-right: 5px;
    border: 1px solid #999999;
    color: #999999;
    padding: 3px 9px;
    border-radius: 10px;
    cursor: pointer;
}

#blogs-add div.btns {
    position: absolute;
    top: -40px;
    right: 15px;
}

#blogs-add a.btn {
    display: block;
    height: 30px;
    line-height: 30px;
    width: 60px;
    color: #999999;
    font-size: 12px;
    box-sizing: border-box;
    border: 1px solid #999999;
    border-radius: 20px;
    padding: 0;
    margin: 0;
}

#blogs-add a.back2Top {
    position: absolute;
    bottom: -30px;
    right: 15px;
    line-height: 30px;
    font-size: 12px;
}

#blogs-display {
    margin-top: 50px;
    position: relative;
}

#blogs-display span.create-time {
    display: block;
    font-style: oblique;
    font-size: 12px;
    color: #666;
    line-height: 20px;
}

#blogs-display span.privacy {
    display: block;
    font-style: oblique;
    font-size: 12px;
    color: #666;
    line-height: 20px;
}

#blogs-display span.tags {
    display: block;
    font-style: oblique;
    font-size: 12px;
    color: #666;
    line-height: 20px;
    margin-bottom: 10px;
}

#blogs-display p.abstract {
    background-color: #eeeeee;
    color: #333333;
    padding: 15px;
    border-radius: 4px;
}

#blogs-display div.head {
    margin-bottom: 15px;
}

#blogs-display div.btns {
    position: absolute;
    top: -40px;
    right: 15px;
    overflow: hidden;
}

#blogs-display a.btn {
    display: block;
    height: 30px;
    line-height: 30px;
    width: 70px;
    color: #999999;
    font-size: 12px;
    box-sizing: border-box;
    border: 1px solid #999999;
    border-radius: 20px;
    padding: 0;
    float: left;
    margin-left: 5px;
}

#blogs-edit {
    margin-top: 50px;
    margin-bottom: 30px;
    color: #333333;
    position: relative;
}

#blogs-edit input.title {
    height: 40px;
    line-height: 40px;
    display: block;
    width: 100%;
    border: none;
    outline: none;
    margin-bottom: 10px;
    background-color: #eeeeee;
    color: #333333;
    font-size: 16px;
    padding-left: 15px;
    padding-right: 15px;
    border-radius: 4px;
}

#blogs-edit textarea.abstract {
    display: block;
    width: 100%;
    border: none;
    outline: none;
    margin-bottom: 10px;
    background-color: #eeeeee;
    color: #333333;
    font-size: 16px;
    padding: 15px;
    border-radius: 4px;
}

#blogs-edit select.privacy {
    display: block;
    width: 150px;
    height: 30px;
    line-height: 30px;
    background-color: #ffffff;
    margin-bottom: 10px;
    outline: none;
    font-size: 14px;
    background-image: none;
    border: 1px solid #cccccc;
    border-radius: 4px;
    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
    -webkit-transition: border-color ease-in-out .15s, -webkit-box-shadow ease-in-out .15s;
    -o-transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
    transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
}

#blogs-edit input.tag-key {
    height: 30px;
    line-height: 30px;
    display: block;
    width: 150px;
    border: none;
    outline: none;
    margin-bottom: 10px;
    background-color: #eeeeee;
    color: #333333;
    font-size: 14px;
    padding-left: 15px;
    padding-right: 15px;
    border-radius: 4px;
}

#blogs-edit div.tags {
    overflow: hidden;
}

#blogs-edit span.tag {
    display: block;
    float: left;
    font-size: 12px;
    margin-bottom: 10px;
    margin-right: 5px;
    border: 1px solid #999999;
    color: #999999;
    padding: 3px 9px;
    border-radius: 10px;
    cursor: pointer;
}

#blogs-edit div.btns {
    position: absolute;
    top: -40px;
    right: 15px;
}

#blogs-edit a.btn {
    display: block;
    height: 30px;
    line-height: 30px;
    width: 60px;
    color: #999999;
    font-size: 12px;
    box-sizing: border-box;
    border: 1px solid #999999;
    border-radius: 20px;
    padding: 0;
    margin: 0;
}

#blogs-edit a.back2Top {
    position: absolute;
    bottom: -30px;
    right: 15px;
    line-height: 30px;
    font-size: 12px;
}
