html, body {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
}

ul {
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
    color: inherit;
}

a.btn {
    display: inline-block;
    padding: 3px 9px;
    border: 1px solid #000000;
    border-radius: 7.5px;
    font-size: 12px;
    cursor: pointer;
    margin-right: 5px;

    user-select: none;
    -webkit-user-select: none;
}

ul {
    list-style: none;
}

div.form-group {
    margin-bottom: 10px;
}

input.form-control {
    display: block;
    width: 100%;
    height: 25px;
    line-height: 25px;
    padding: 0px 5px;
    outline: none;
    box-sizing: border-box;
}

select.form-control {
    display: block;
    width: 100%;
    height: 25px;
    line-height: 25px;
    padding: 0px 5px;
    outline: none;
    box-sizing: border-box;
    background-color: transparent;
}

div.clear {
    clear: both;
}