extends ../template

block links
    link(rel='stylesheet',href='/stylesheets/blog.css')

block body
    blog-header
    div#blogs-display(ng-controller='blogDisplayCtrl')
        div.head
            h3.title(ng-bind='post.title')
            span.create-time(ng-bind='post.createTime')
            span.privacy(ng-bind='post.privacy | privacy')
            div.clear
            span.tags(ng-bind='post.tags')
            p.abstract(ng-bind='post.abstract')
        div.body
            div.content(ng-bind-html='post.content')

block scripts