table#blog-list
    thead
        tr
            td 标题
            td 创建时间
            td 可见性
            td 标签
            td 操作
    tbody
        tr.blog-item(ng-repeat='post in posts track by post._id',ng-if='post.isPublished == 0 && post.inUse == 1')
            td.title(ng-bind='post.title',ng-click='displayPost(post._id)')
            td.createTime(ng-bind='post.createTime')
            td.privacy(ng-bind='post.privacy | privacy')
            td.tags(ng-bind-html='post.tags | tags')
            td.ops
                span.edit(ng-click='editPost(post._id)') 编辑
                span.delete(ng-click='deletePost(post._id)') 删除

