extends ../template

block links
    link(rel='stylesheet', href='/stylesheets/blog.css')
block body
    blog-header
    section#blogs-list(ng-controller='blogListCtrl')
        div.container
            div.row
                div.col-md-3
                    div.widget.tags
                        h4 TAG CATEGORIES
                        ul.list
                            li.item(ng-repeat='tag in tags',ng-bind='tag.name')
                div.col-md-9
                    article.post(ng-repeat='post in posts track by post._id',ng-if='post.inUse == 1 || mode == "super"')
                        h3.post-title(ng-bind='post.title',ng-click='displayPost(post._id)')
                        span.deleted(ng-if='post.inUse == 0 && mode == "super"') Deleted
                        div.clear
                        div.post-attr
                            span.create-time(ng-bind='post.createTime')
                            span.author by&nbsp;
                                span(ng-bind='post.author')
                            span.private(ng-bind='post.privacy | privacy')
                            div.clear
                            span.tags(ng-bind='post.tags')
                        p.abstract(ng-bind='post.abstract')
                        a.more-btn(ng-click='displayPost(post._id)') View More
block scripts