<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title><%=title%></title>
    <link rel="stylesheet" href="/stylesheets/other/christmas.css"/>
</head>
<body>
<div id="mainDiv">
    <div id="content">
        <div id="code">
            <span class="comments">/**</span><br />
            <span class="space"/><span class="comments">* We are both oil children and IT related workers.</span><br />
            <span class="space"/><span class="comments">* We have a deep revolution friendship.</span><br />
            <span class="space"/><span class="comments">* Now I write some code to apologize to you for my wrong.</span><br />
            <span class="space"/><span class="comments">*/</span><br />
            Boy i = <span class="keyword">new</span> Boy(<span class="string">"Ymc"</span>);<br />
            Girl u = <span class="keyword">new</span> Girl(<span class="string">"Hm"</span>);<br />
            <span class="comments">// Dec 11, 2015, I told you I like you. </span><br />
            i.like(u);<br />
            <span class="comments">// Ok, we had a lot of hesitation at first.</span><br />
            <span class="comments">// Because the feeling was so incredible!</span><br />
            i.surprised() and u.surprised();<br/>
            <span class="comments">// But, but, but...</span><br />
            <span class="comments">// Luckily, you accepted and became my girlfriend eversince.</span><br />
            u.accepted(i);<br />
            <span class="comments">// Since then, I miss u every day.</span><br />
            i.miss(u);<br />
            <span class="comments">// And take care of u and our love.</span><br />
            i.takeCareOf(u);<br />
            <span class="comments">// I know that you won't be so easy to accept a person completely.</span><br />
            <span class="comments">// So I keep waiting and I have confidence that you will.</span><br />
            <span class="keyword">boolean</span> isHesitate = <span class="keyword">true</span>;<br />
            <span class="keyword">while</span> (isHesitate) {<br />
            <span class="placeholder"/>i.waitFor(u);<br />
            <span class="placeholder"/><span class="comments">// I think it is an important decision</span><br />
            <span class="placeholder"/><span class="comments">// and you should think it over.</span><br />
            <span class="placeholder"/>isHesitate = u.thinkOver();<br />
            }<br />
            <span class="comments">// After a period of time to get to know each other, </span><br />
            <span class="comments">// we will live happily ever after.</span><br/>
            i.into(u.heart);<br />
            i.liveHappilyWith(u);<br />
        </div>
        <div id="loveHeart">
            <canvas id="garden"></canvas>
            <div id="words">
                <div id="messages">
                    Dm, I have fallen in love with you for
                    <div id="elapseClock"></div>
                </div>
                <div id="loveu">
                    Love u, my princess.<br/>
                    <div class="signature">- Ymc</div>
                </div>
            </div>
        </div>
    </div>
</div>
</body>
<script src="/javascripts/third/jquery-1.4.2.min.js"></script>
<script src="/javascripts/third/garden.min.js"></script>
<script src="/javascripts/other/christmas.js"></script>
</html>